//
   Created by Paul Malyarevich on 4/23/2017.
@import './variables.sass'
@import "normalize"
/* Global */
html
	font-size: 16px
@supports (display: grid)
	.col
		&-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8,&-9,&-10,&-11,&-12
			padding-left: 0
			padding-right: 0
	.wrapper


	.header
		display: inline-flex
		flex-wrap: wrap
		min-height: 150px
		justify-content: space-between
		.logo
			display: inline-flex
			min-height: 50px
			img
				width: 116px
				height: 41px
				margin: 9px 50px
				&:hover
					cursor: pointer
		.search
			display: inline-flex
			min-height: 60px
			.search-box
				display: grid
				grid-template-columns: 14px auto

				height: 24px
				border-bottom: $main-color 1px solid
				margin-top: 2rem
				margin-bottom: 1rem
				margin-right: auto
				margin-left: auto
				color: $text-color
				background: none
				&__icon
					display: grid

					width: 14px
					height: 14px
					margin: 5px
				&__text
					display: grid

					font-family: $main-font-family
					font-size: 14px
					font-weight: normal
					margin-left: 10px
					margin-bottom: 0
					border: none
					background: none
					&:focus
						border: none
						outline: none
		.user-block
			display: inline-flex
			min-height: 120px
			.user-box
				display: grid
				grid-template-columns: 75px auto 70px

				width: 100%
				height: 60px
				color: $main-text-color
				background-color: $main-color
				&__avatar
					display: grid
					width: 40px
					height: 40px
					border-radius: 50%
					margin: 10px 10px 10px 25px
				&__full-name
					display: grid
					font-family: $main-font-family
					font-size: 16px
					font-weight: bold
					margin: 20px 0
				&__sign-out
					display: grid
					width: 20px
					height: 20px
					margin: 20px 25px
				&__btn
					background: transparent
					border: transparent
					box-sizing: content-box
					color: white
					&:hover
						color: lightgray
					&:focus
						outline: none



	.content
		display: inline-flex
		flex-wrap: wrap
		margin: 0 auto
		justify-content: center
		.slider
			min-width: 300px
			max-width: 500px
			height: auto
			position: relative
			&__img-area
				margin: 0 auto
				height: auto
				width: 100%
			&__nav-area
				min-width: 40px
				max-width: 50px
				height: auto
				background: rgba(255, 255, 255, 0.33)
				position: absolute
				top: 0
				padding: 48%  0
				box-sizing: border-box
				align-items: center
				&:hover
					background: rgba(255, 255, 255, 0.66)
					cursor: pointer
				&--left
					left: 0
				&--right
					right: 0
			&__nav-arr
				display: block
				height: 4%
				width: 16px
				margin: 0 auto
				color: rgba(64, 64, 64, 0.8)
				&:hover
					color: rgba(64, 64, 64, 0.4)

		.about
			align-content: flex-start
			height: auto
			color: $text-color
			padding: 5px
			&__value
				display: inline-flex
				flex-flow: row wrap
				justify-content: flex-start
				align-items: flex-end
				width: 100%
			&__title
				display: inline-flex
				height: auto
				font-family: $secondary-font-family, $main-font-family
				font-weight: normal
				font-size: 32px
			&__from
				display: inline-flex
				font-family: $main-font-family
				font-size: 18px
				font-weight: bold
				height: 1.5em
				justify-content: center
				&--name
					font-family: $main-font-family
					font-size: 18px
					font-weight: bold
					color: $main-color
					height: 1.55em
					justify-content: center
			&__price
				display: inline-flex

				font-family: $main-font-family
				font-size: 32px
				font-weight: bold
				height: 1.25em
				color: $price-color
				justify-content: center
			&__text
				display: grid
				grid-area: about__text

				font-size: 18px

		/*.chat
			display: grid
			grid-area: chat
			grid-template-columns: 515px 435px
			grid-template-rows: auto
			grid-template-areas: "chat__header chat__header" "chat__box connected"

			margin-top: 20px
			width: 950px
			color: $text-color
			&__header
				display: grid
				grid-area: chat__header
				grid-template-columns: auto auto auto auto
				grid-template-rows: auto
				grid-template-areas: "chat__title chat__title--sub-title chat__title--blue-title chat__status"

				justify-content: flex-start
				align-items: flex-end
				align-content: center
				width: 515px
				height: 32px
				font-family: $main-font-family
				font-weight: bold
				font-size: 14px
			&__title
				display: grid
				grid-area: chat__title

				align-self: flex-end
				font-size: 30px
				&--sub-title
					display: grid
					grid-area: chat__title--sub-title

					margin-left: 10px
					margin-bottom: 5px
				&--blue-title
					display: grid
					grid-area: chat__title--blue-title

					color: $main-color
					margin-left: 5px
					margin-bottom: 5px
			&__status
				display: grid
				grid-area: chat__status

				width: 8px
				height: 8px
				margin: 7px
				background-color: $price-color

			&__box
				display: grid
				grid-area: chat__box

				justify-content: flex-start
				align-items: flex-end
				align-content: flex-end
				width: 515px
			&__message
				display: grid
				grid-area: chat__message
				grid-row: auto

				max-width: 415px
				margin-top: 15px
				&--left
					display: grid
					grid-area: chat__message--left

					border-right: $main-color 5px solid
					margin-left: 10px
				&--right
					display: grid
					grid-area: chat__message--right

					border-left: $main-color 5px solid
					margin-right: 10px
			&__avatar
				display: grid
				grid-area: chat__avatar

				height: 10px
				width: 10px
				border-radius: 50%
			&__text
				display: grid
				grid-area: chat__text

				font-family: $main-font-family
				font-size: 14px
				font-weight: normal
				margin: 0 5px
			.input
				display: grid
				grid-area: input

				width: 515px
				height: 20px
				border-bottom: $main-color 1px solid
				&__text
					font-family: $main-font-family
					font-size: 14px
					font-weight: normal
				&__icon
					width: 14px
					height: 14px

			.connected
				display: grid
				grid-area: connected
				grid-template-columns: 1fr
				grid-template-rows: auto
				grid-template: "connected__title" "connected__users"

				width: 435px
				&__title
					display: grid
					grid-area: connected__title

					font-family: $main-font-family
					font-size: 18px
					font-weight: bold
					margin: 2px 0 10px 0
				&__users
					display: grid
					grid-area: connected__users

					justify-content: flex-start
					align-items: flex-end
					align-content: center
					.user
						display: grid
						grid-area: connected_user
						grid-row: auto

						grid-template-columns: 44px auto
						grid-template-rows: auto
						grid-template-areas: "connected_user__avatar connected_user__full-name"

						justify-content: flex-start
						align-items: center
						align-content: center
						margin: 6px 3px
						&__avatar
							display: grid
							grid-area: connected_user__avatar

							width: 40px
							height: 40px
							border-radius: 50%
						&__full-name
							display: grid
							grid-area: connected_user__full-name

							font-family: $main-font-family
							font-size: 16px
							font-weight: bold
							margin-left: 10px
			*/
	.footer
		height: 4rem
		background-color: $main-color
		margin-top: 1rem
		&__content
			display: block
			font-family: $main-font-family
			font-size: 1.1rem
			font-weight: bold
			color: $main-text-color
			margin: 0 auto
			padding-top: 1rem
			p
				display: block
				text-align: center
