//
   Created by Paul Malyarevich on 4/23/2017.

doctype html
html(lang="en")
    head
        title My Site - #{title}
        block styles
            link(rel='stylesheet' type='text/css' href='./css/style.css')
        block scripts
            script(src='./js/jquery.js')
    body
        block header
            .header
                img.logo(src='./img/logo.png')
                .search
                    .search__icon
                        span.fa-search
                    input.search__text(placeholder="Try find something" type="text")
                div
                .user-block
                    img.user-block__avatar(src="./img/91.png" alt="91")
                    .user-block__full-name.
                        Kim Evans
                    .user-block__sign-out
                        span.fa-sign-out

        block content
            .content
                .content__slider
                    img(src="./img/sli-img.png" alt="sli")
                    .content__slider-next
                        .content__slider-next--right
                            span.fa-long-arrow-right
                .about
                    .about__title.
                        Some title text must be here maybe second line
                    .about__value
                        .about__from from
                        .about__from--name Alis Kim
                        .about__price.
                            18000 $
                    .about__text
                        pre
                            |
                            |Some description text from WYSIWYG editer
                            |
                            |Can be BOLD Italic
                            |
                            |Can have  list:
                            |  - first
                            |  - second
                            |
                            |And anything from WYSIWYG editor
                            |
                            |Some line
                            |Some line
                            |Some  line
                            |
                            |Finished on this line.
                .chat
                    .chat__header
                        .chat__title.
                            Chat
                        .chat__title--sub-title.
                            with
                        .chat__title--blue-title.
                            Alis Kim
                        .chat__status
                    .chat__box
                        .chat__message.chat__message--left
                            img.chat__avatar(src="./img/78.png" alt="78")
                            .chat__text.
                                One line chat message
                        .chat__message.chat__message--right
                            img.chat__avatar(src="./img/91.png" alt="91")
                            .chat__text.
                                Multi line chat message. Some  text for multi line message. What is your name.
                                Oh sorry. My bad, your name I think  Alis. Right? Please send me your contacts.
                                May be your facebook page or some think alse. How much cost this t shirt?
                        .input
                            .input__text
                            .input__icon
                                span.fa-send
                    .connected
                        .connected__title.
                            Connected
                        .connected__users
                            .user
                                img.user__avatar(src="./img/78.png" alt="78")
                                .user__full-name.
                                    Alis Kim
                            .user
                                img.user__avatar(src="./img/91.png" alt="91")
                                .user__full-name.
                                    Kim Evans
        block footer
            .footer
                .footer__content
                    p.
                        2017 - front-end labs Light IT