//
   Created by Paul Malyarevich on 4/23/2017.
@import './variables.sass'
@import "normalize"
/* Global */
html
	font-size: 16px
	width: 1440px

@supports (display: grid)
	.wrapper
		display: grid
		grid-template-columns: 1fr
		grid-template-rows: auto
		grid-template-areas: "header" "content" "footer"

	.header
		display: grid
		grid-template-columns: 245px 515px 300px 380px
		grid-area: header
		height: 150px
		.logo
			display: grid
			width: 116px
			height: 41px
			margin: 9px 50px
		.search
			display: grid
			grid-template-columns: 14px auto

			width: 450px
			height: 24px
			border-bottom: $main-color 1px solid
			margin-top: 22px
			margin-right: 28px
			margin-left: 38px
			color: $text-color
			&__icon
				display: grid

				width: 14px
				height: 14px
				margin: 5px
			&__text
				display: grid

				font-family: $main-font-family
				font-size: 14px
				font-weight: normal
				margin-left: 10px
				margin-bottom: 0
				border: 0
				&:focus
					border: 0
					outline: 0
		.user-block
			display: grid
			grid-template-columns: 75px auto 70px

			width: 380px
			height: 60px
			color: $main-text-color
			background-color: $main-color
			&__avatar
				display: grid
				width: 40px
				height: 40px
				border-radius: 50%
				margin: 10px 10px 10px 25px
			&__full-name
				display: grid
				font-family: $main-font-family
				font-size: 16px
				font-weight: bold
				margin: 20px 0
			&__sign-out
				display: grid
				width: 20px
				height: 20px
				margin: 20px 25px



	.content
		display: grid
		grid-area: content
		grid-template-columns: 515px 435px
		grid-template-rows: auto
		grid-template-areas: "slider about" "chat chat"

		width: 950px
		margin: 0 auto
		&__slider
			display: grid
			grid-area: slider

			width: 500px
			height: 500px
		&__slider-next
			display: grid
			grid-area: content__slider-next

			width: 50px
			height: 500px
			background: rgba(255, 255, 255, 0.42)
			position: relative
			right: 50px
			bottom: 500px
			&--left
				position: relative
				left: 0
			&--right
				position: relative
				right: 0

		.about
			display: grid
			grid-area: about
			grid-template-columns: 1fr
			grid-template-rows: auto
			grid-template-areas: "about__title" "about__value" "about__text"

			align-content: flex-start
			width: 435px
			height: auto
			color: $text-color
			&__value
				display: grid
				grid-area: about__value
				grid-template-columns: auto auto auto
				grid-template-areas: "about__from about__from--name about__price"

				justify-content: flex-start
				align-items: flex-end
			&__title
				display: grid
				grid-area: about__title

				width: 435px
				height: auto
				font-family: $secondary-font-family, $main-font-family
				font-weight: normal
				font-size: 32px
			&__from
				display: grid
				grid-area: about__from

				font-family: $main-font-family
				font-size: 18px
				font-weight: bold
				&--name
					display: grid
					grid-area: about__from--name

					font-family: $main-font-family
					font-size: 18px
					font-weight: bold
					color: $main-color
					margin-left: 5px
			&__price
				display: grid
				grid-area: about__price

				font-family: $main-font-family
				font-size: 32px
				font-weight: bold
				height: 32px
				color: $price-color
				margin-left: 20px
			&__text
				display: grid
				grid-area: about__text

				width: 435px
				font-size: 18px

		.chat
			display: grid
			grid-area: chat
			grid-template-columns: 515px 435px
			grid-template-rows: auto
			grid-template-areas: "chat__header chat__header" "chat__box connected"

			margin-top: 20px
			width: 950px
			color: $text-color
			&__header
				display: grid
				grid-area: chat__header
				grid-template-columns: auto auto auto auto
				grid-template-rows: auto
				grid-template-areas: "chat__title chat__title--sub-title chat__title--blue-title chat__status"

				justify-content: flex-start
				align-items: flex-end
				align-content: center
				width: 515px
				height: 32px
				font-family: $main-font-family
				font-weight: bold
				font-size: 14px
			&__title
				display: grid
				grid-area: chat__title

				align-self: flex-end
				font-size: 30px
				&--sub-title
					display: grid
					grid-area: chat__title--sub-title

					margin-left: 10px
					margin-bottom: 5px
				&--blue-title
					display: grid
					grid-area: chat__title--blue-title

					color: $main-color
					margin-left: 5px
					margin-bottom: 5px
			&__status
				display: grid
				grid-area: chat__status

				width: 8px
				height: 8px
				margin: 7px
				background-color: $price-color

			&__box
				display: grid
				grid-area: chat__box

				justify-content: flex-start
				align-items: flex-end
				align-content: flex-end
				width: 515px
			&__message
				display: grid
				grid-area: chat__message
				grid-row: auto

				max-width: 415px
				margin-top: 15px
				&--left
					display: grid
					grid-area: chat__message--left

					border-right: $main-color 5px solid
					margin-left: 10px
				&--right
					display: grid
					grid-area: chat__message--right

					border-left: $main-color 5px solid
					margin-right: 10px
			&__avatar
				display: grid
				grid-area: chat__avatar

				height: 10px
				width: 10px
				border-radius: 50%
			&__text
				display: grid
				grid-area: chat__text

				font-family: $main-font-family
				font-size: 14px
				font-weight: normal
				margin: 0 5px
			.input
				display: grid
				grid-area: input

				width: 515px
				height: 20px
				border-bottom: $main-color 1px solid
				&__text
					font-family: $main-font-family
					font-size: 14px
					font-weight: normal
				&__icon
					width: 14px
					height: 14px

			.connected
				display: grid
				grid-area: connected
				grid-template-columns: 1fr
				grid-template-rows: auto
				grid-template: "connected__title" "connected__users"

				width: 435px
				&__title
					display: grid
					grid-area: connected__title

					font-family: $main-font-family
					font-size: 18px
					font-weight: bold
					margin: 2px 0 10px 0
				&__users
					display: grid
					grid-area: connected__users

					justify-content: flex-start
					align-items: flex-end
					align-content: center
					.user
						display: grid
						grid-area: connected_user
						grid-row: auto

						grid-template-columns: 44px auto
						grid-template-rows: auto
						grid-template-areas: "connected_user__avatar connected_user__full-name"

						justify-content: flex-start
						align-items: center
						align-content: center
						margin: 6px 3px
						&__avatar
							display: grid
							grid-area: connected_user__avatar

							width: 40px
							height: 40px
							border-radius: 50%
						&__full-name
							display: grid
							grid-area: connected_user__full-name

							font-family: $main-font-family
							font-size: 16px
							font-weight: bold
							margin-left: 10px

	.footer
		display: grid
		grid-area: footer

		width: 1440px
		height: 50px
		background-color: $main-color
		&__content
			font-family: $main-font-family
			font-size: 18px
			font-weight: bold
			color: $main-text-color
			margin: 0 auto
